*{
	box-sizing: border-box;
	margin:0; 
	padding: 0;
}
body{
	font-size: 16px;
	color: white;
	background-color: #61121e;
}
.navcla{
	background-color: #e6c317;}
ul{
	display: inline;
}
h1{
	font-size: 30px;
	font-family:serif;
	font-weight: 600;
	color: #507c3e;
	text-shadow: 1px 1px 1px #222;}
.navbar-item a:hover{
	text-decoration: none;
}
.nav-item a{
	color: white;
	/*background-color: black;*/
	text-align: center;
	padding: 0;
}
.nav-item a:hover{
	background-color: #E7E7E7;
}
#merge{
	text-align:right;
	color: #61121e;
}
.icon-bar{
	border: 1px solid #61121e;
}
@media (max-width: 767px){
	.element{
		font-size: 5vw;
	}
	.cla{
		height: 10px;
		width: 11px;
	}
	.rowcla,.sectioncla{
		text-align: center;
	}
}
.place{
	width: 100%;
	padding: 0;
	margin: 10px 0 30px 0;
	/*text-align: center;*/
	background-color: #61121e;
	border-radius: 3px;
	border: 3px solid #3e0c1e;
	box-shadow: 0 0 50px #3e0c1e;
}
#menus-title,#specials-title,#map-title{
	height: 250px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	border: 3px solid #3e0c1e;
	overflow: hidden;
}
#menus-title:hover,#specials-title:hover,#map-title:hover,.rowimg:hover,.colimg:hover,.teaimg:hover,.tearow:hover,.teacol:hover,.rowcol:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
	text-decoration: none;
}
#menus-title{
	background: url(../images/menu-tile.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#specials-title{
	background: url(../images/specials-tile.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#menus-title span,#specials-title span,#map-title span{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 30px;
	background-color: black;
	color: white;
	opacity: 0.7;
	text-align: center;
	border-radius: 3px;
}
footer{
	background-color: #222;
	padding:20px 0 20px 0;
}
.sectioncla{
	font-style: italic;
}
.rowcla span{
	font-size: 1.3em;
	text-decoration: underline;
}
.rowcla p{
	color: #507c3e;
	font-size: 0.8em;
	font-weight: 500;
}
.sectioncla p:nth-child(2){
	margin: 25px 0 0 0;
}
h2{
	margin: 30px 0 10px 0;
}
.rowimg,.colimg,.teaimg,.tearow,.teacol,.rowcol{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 250px;
	margin-bottom: 17px;
	position: relative;
	border: 3px solid #3e0c1e;
	overflow: hidden;
}
.rowimg{
	background: url('../images/A/A.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
.colimg{
	background: url('../images/A/A-7.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
.teaimg{
	background: url('../images/A/A-3.jpg') no-repeat;
	background-size:cover;
	background-position: center;
}
.tearow{
	background: url('../images/A/A.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
.teacol{
	background: url('../images/A/A.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
.rowcol{
	background: url('../images/A/A.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
.rowimg span,.colimg span,.teaimg span,.tearow span,.teacol span,.rowcol span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: black;
	color: white;
	opacity: 0.8;
	text-align: center;
}

/*#header-nav{
	background-color: #f6c317;
	height: 107px;
}
#log-img{
	padding: 5px 5px 5px 10px;
	margin-right: 31px;
	float: left;
}
.class1{
	color: #557c3e;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom:7px;
	padding: 27px 0px 0px 0px;
}
.class1:hover{
	text-decoration: underline;
}
.navbar-header a{
	text-decoration: none;
}
.navbar-header div img{
	vertical-align: middle;
	/*margin-*/
}*/


